.main-bg {
  background-color: #333;
}

.banner {
    background: url("./img/home-bg.jpg")
      no-repeat center center;
    background-size: cover;
    /* padding-top: 20%;
    padding-bottom: 20%; */
    color: #fff;
  }
.banner-size{
  padding-top: 20%;
  padding-bottom: 20%;
}
  
  .lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
  }
  
  .lingkaran i {
    position: relative;
    top: 30px;
  }
  
  .crop-img {
    object-fit: cover;
  }
  
  .tim img {
    width: 250px;
    border: 10px solid #cccccc;
  }
  
  a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
  }
  
  .client img {
    height: auto;
    max-height: 50px;
  }
  
  .footer {
    background-color: #333  ;
    background-size: cover;
    padding-bottom: 1%;
    padding-top: 1%;
    color: #fff;
    height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    
  }
  .logo {
    width: 7%;
  }
  .dok-img{
    height: 120px;
    
  }
  .login{
    padding: 10px;
    margin: 10px;
    color: #333;
  }
  .register{
    padding: 10px;
    margin-top: 150px;
    color: #333;
  }
.banner-login{
  margin-top: 50px;
}
.login-btn{
  margin-left: 10px;
}
.footer1 {
  background-color: rgb(0, 0, 0);
  height: 150px;
}
.banner-form{
  background-color: #333;
  padding-top: 20%;
  height: 1000px;
}
.card-form {
  /* margin-top: 80px;
  padding-top: 100px; */
  width: 50%;
}
.btn{
  width: max-content !important;
}

.container-admin{
  width: 100%;
  /* margin-left: 260px; */
}
.container-admin .content-admin{
  width: calc(100% - 260px);
}
.isi-admin{
  padding : 0px !important;
}
.data-table{
  z-index: 1 !important;
}
.content-admin{
  z-index: 1 !important;
}